@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Open Sans';
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 4rem;
    color: #0554F2;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.container-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input input {
    width: 200px;
    height: 3vh;
    font-size: 1rem;
    margin-right: 20px;
    border-radius: 7px;
    border: #0554F2 solid 1px;
    text-align: center;
}

input:focus {
    border: #0554F2 solid 1px;
}

.right-content {
    border: #0554F2  1px solid;
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px
}
.left-content {
    border: #0554F2 1px solid;
    display: flex;
    width: 40%;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px
}

.add {
    width: 150px;
    height: 3.6vh;
    font-size: 1rem;
    margin-right: 20px;
    border-radius: 7px;
    background: #0554F2;
    color: white;
    border: none;
    font-weight: 400;
}

.remove {
    height: 50%;
    border-radius: 5px;
    background: #f05f1b;
    color: white;
    border: none;
    font-weight: 400;
}

.container-left {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    padding: 15px;
}

.container-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
}

.container-box {
    display: flex;
    justify-content: space-between;
}

.change-background-left {
    background-color:#BDF26D;
    border-radius: 15px
}
.change-background-right {
    background-color:#76A646;
    border-radius: 15px
}

.swap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.counter:hover {
    color: #76A646;
}
